<%- include('../partials/header.ejs') %>

<!-- Page Wrapper -->
<div id="wrapper">
  <%- include('../partials/sidebar.ejs') %>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <%- include('../partials/navbar.ejs') %>

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <%- include('../partials/message.ejs') %>

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Parking </h1>
        <!-- End Heading -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <form action="/parking/search"  method="POST" >
                <div class="row">
                  <div class="col">
                    <label for="exampleInputEmail1">Vehicle Type</label>
                    <select class="form-control" id="inputVehicleType" name="vehicle">
                      <option value=''  >none</option>
                      <% for(var i=0; i < vehicle.length; i++) { %>
                      <option value='<%= vehicle[i].id %>'  ><%= vehicle[i].name %></option>
                      <% } %>
                    </select>
                  </div>
                  <div class="col">
                    <label for="exampleInputParkingIn">Parking In</label>
                    <input type="datetime-local" class="form-control" id="inputParkingIn" name="parking_in" >
                  </div>
                  <div class="col">
                    <label for="exampleInputParkingOut">Parking Out</label>
                    <input type="datetime-local" class="form-control" id="inputParkingOut" name="parking_out" >
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col">
                    <label for="exampleInputPriceStart">Price start</label>
                    <input type="text" class="form-control" name="price_start" placeholder="ex: 500"  >
                  </div>
                  <div class="col">
                    <label for="exampleInputPriceEnd">Price End</label>
                    <input type="text" class="form-control" name="price_end" placeholder="ex: 1000000" >
                  </div>
                
                </div>
                <div class="row">
                  <div class="col pt-3">

                    <button type="submit" class="btn btn-primary">Filter</button>
                    <% if(!pagination){ %>
                      <a class="btn btn-info" href="/show" >back to show data</a>
                      <% } %>
                  </div>
                </div>
             
              </form> 
            </div>
            <div class="card-body">
             
            <table class="table" id="dataTableParking" >
              <thead>
                <tr>
                  <th>No</th>
                  <th>Vehicle Type</th>
                  <th>Parking In</th>
                  <th>Parking Out</th>
                  <th>Price</th>
          
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <%   for(let i = 0; i < parking.rows.length; i++){ %>
                  <tr>
                  <td><%= parking.rows[i].id %></td>
                  <td><%= parking.rows[i].vehicle.name %></td>
                  <td><%= parking.rows[i].parking_in %></td>
                  <td><%= parking.rows[i].parking_out  %></td>
                  <td > <%= parking.rows[i].priceFormat %></td>
                  
                  <td>
                    <form
                      action="/parking/<%= parking.rows[i].id%>?_method=DELETE"
                      method="POST"
                    >
                      <a
                        href="javascript:void(0);"
                        onclick="editParking ();"
                        type="button"
                        class="btn btn-warning btn-circle btn-sm button-update"
                        data-id="<%= parking.rows[i].id %>"
                        data-vehicle_id="<%= parking.rows[i].vehicle_id %>"
                        data-parking_in="<%= parking.rows[i].parking_in %>"
                        data-parking_out="<%= parking.rows[i].parking_out %>"
                        ><i class="fas fa-edit"></i
                      ></a>
                      <button type="submit" class="btn btn-danger btn-circle btn-sm">
                        <i class="fas fa-trash"></i>
                      </button>
                    </form>
                  </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>  
            <%if (pagination ) { %>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  
                  <%   for(let i = 0; i < page; i++){ %>
                  <li class="page-item <%= query.page == i+1 ? 'active' : '' %>"><a class="page-link" href="/show?page=<%= i + 1 %>&limit=<%= query.limit  %>"><%=  i +1 %>  </a></li>
                  <% } %>
                   
                </ul>
              </nav>
              
              <% } %>
                 
            </div>
            
        </div>
        
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <%- include('../partials/footer.ejs') %>
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Select "Logout" below if you are ready to end your current session.
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          Cancel
        </button>
        <a class="btn btn-primary" href="#">Logout</a>
      </div>
    </div>
  </div>
</div>


<%- include("./edit_parking_modal.ejs") %>
<%- include('../partials/js.ejs') %>
 
<script>
  function editParking() {
    
    $("#dataTableParking").on("click", ".button-update", function () {
      $("#edit-parking-modal").modal("show")
      let id = $(this).data("id")
      let vehicle_id = $(this).data("vehicle_id")
      let parking_in = $(this).data("parking_in")
      let parking_out = $(this).data("parking_out")
      $(".id").val(id)
      $(".parking_in").val(parking_in)
      $(".parking_out").val(parking_out)
      // document.getElementById("modalInputParkingIn").value=new Date(parking_in)
      // document.getElementById("modalInputParkingOut").value=new Date(parking_out)
      $(".vehicle_id").val(vehicle_id)
    })
  }
 

</script>

 